@charset "utf-8";
/* CSS Document */
.login_top_bg {background-image: url(../images/login-top-bg.gif);background-repeat: repeat-x;}
.body {background-color: #EEF2FB;left: 0px; font-size:12px;top: 0px;right: 0px;bottom: 0px;}
.clear{margin:0px;padding:0px;clear:both}
html,body,div,dl,dt,dd,ul,h1,h2,h3,pre,form,label,fieldset,input,p,blockquote,th,{font-size:12px;margin:0;padding:0;}
fieldset,img{border:0}
code,em,var,i{font-style:normal;}
ul{list-style:none}
li {list-style-type: none;}
a {text-decoration: none; color:#16428A; text-decoration:underline;}
a:hover{text-decoration: underline;}
.clear{ clear:both;}
.c_sz{ width:300px; float:left; margin-left:20px;}
.table_kd{ line-height:15px;margin-bottom:10px; color:#666;}
.table_kd2{ line-height:22px;color:#666; margin-bottom:20px; border-bottom:1px solid #ccc;}
.left_topbg {background-image: url(../images/content-bg.jpg);background-repeat: repeat-x;}
.left_bt2 {font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height: 25px;font-weight: bold;color: #333333;}
.titlebt {font-size: 12px;line-height: 26px;font-weight: bold;color: #000000;background-image: url(../images/top_bt.jpg);background-repeat: no-repeat;display: block;text-indent: 15px;padding-top: 5px;}
a:hover {font-size: 12px;color: #e79b18;}
.live_00{ text-indent:18px; font-weight:bold; color:#666; background:url(../images/top_bt.jpg) no-repeat; width:85px; height:28px; display:block; text-decoration:none;}
.live_01{ background:url(../images/content-bg.jpg) repeat-x; height:30px; width:615px; line-height:33px;  text-decoration:none;}
.live_01 a{  text-decoration:none;}
body {margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	font-size:12px;
}
.table2{ margin-top:10px; display:block;  color:#666; line-height:18px;}
.table2 tr td{ padding-right:20px;}
.table2 tr td b{ color:#ff6600;}
.right_1{ width:100%; height:34px; line-height:34px; color:#666; border-bottom:1px solid #B9D4E9; margin-bottom:10px; background-color:#e2eefa; }
.right_1 span{  display:block; text-indent:20px;}
.color_one{color:red;}
.color_two { color:#093;}
.color_five{ color:#F63}
.live_1_table{ color:#666; margin-bottom:10px;}
.live_1_table2 { color:#666; margin-bottom:10px; line-height:25px; width:100%;}
.live_1_table tr{  line-height:25px; text-align:center;}
.live_1_table_tr{  font-weight:bold; color:#3566A9; background:#E2EEFA; background-color:#e9f1f9; text-align:center;}
.ice_1{ margin-bottom:4px; text-align:center;}
.ice_1 tr{ float:left;  height:30px; line-height:30px;}
.ice_3{ background:url(../images/del-button.png) no-repeat; width:59px; border:0;height:24px;  line-height:22px;  display:block;}
.ice_one{ background-color:#E6F2FE; color:#000; padding-right:3px; text-align:right; color:#666;}
.ice_one1{background-color:#E2EEFA; color:#000; padding-right:3px; text-align:left; text-indent:30px; font-weight:bold; color:#3566A9;}
.ice_one2{background-color:#ffffff; padding-right:3px; text-align:right; text-indent:30px; font-weight:bold; color:#3566A9;}
.ice_two{ background-color:#E6F2FE;  text-align:left; text-indent:10px; color:#666;}
.ice_two b{ float:left; text-indent:10px;  color:red;  font-weight:normal;}
.ice_three{ line-height:30px;}
.ice_three_2{ float:left; margin-left:1%;}
.ice_three_2 input { margin:5px;}
.ice_three_2 select { margin:5px;}

.ice_five{ height:30px; line-height:30px; text-indent:20px; background-color:#fff; color:#F00;}
.ice_1 div{ float:left; padding-right:5px;}
.ice_two div{ float:left; margin-top:3px; }
.ice_two_div{ width:65%;}
.ice_four_1{height:30px; line-height:30px; margin-top:20px;}
.c_one{ width:98%; margin:0 auto;}
.clear{clear:none;}
.frame2{ width:980px; margin:0 auto; }
.c_cx{ background:url(../images/del-button00.png) no-repeat; width:80px; display:block; height:22px; line-height:22px; float:left; display:block; overflow:hidden;}
.left_ts{ font-weight:bold; color:#FF6600;}
.left_bt{ font-weight:bold; color:#0753a9; font-size:14px;}
.conter_zz{ vertical-align:middle; text-align:left;}
.ice_11{background:url(../images/theme-button.png) no-repeat -71px -35px;width:59px; border:0;height:24px;  line-height:22px; text-indent:18px; display:block; padding-right:}
.ice_12{ background:url(../images/theme-button.png) no-repeat -141px -35px;width:59px; border:0;height:24px;  line-height:22px; text-indent:18px;display:block; float:left; margin-left:10px; margin-top:2px;}
.ice_13{ background:url(../images/theme-button.png) no-repeat -141px -35px;width:59px; border:0;height:24px;  line-height:22px; text-indent:18px;display:block; float:left; margin-left:10px; }
.ice_four{background-color:#fff; height:30px; line-height:30px; margin:0 auto; }
.ice_four input { float:left; margin:0 15px;}
.ice_four2 input{  margin:0 15px;}
.ice_four2{background-color:#fff; height:30px; line-height:30px; margin:0 auto; }
.ice_four div{ width:215px; margin:0 auto; display:block;} 
.ccs{ background:url(../images/css.gif) no-repeat 10px 7px #fff;  }
.select_dd{ width:180px; height:22px; margin-left:10px; float:left; margin-top:3px; height:24px; line-height:24px;}
.select{ width:180px; height:22px; margin-left:10px; float:left; m height:24px; line-height:24px;}
.select_aa{ width:185px; height:30px; margin-left:10px; float:left; line-height:30px; margin-bottom:3px;}

.select_a{ width:180px; height:24px; margin-left:10px; float:left; line-height:24px; margin-bottom:3px;}
.select1{ width:180px; mfrgin-left:10px; float:left; vertical-align:middle;  height:18px; line-height:18px;}
.select_1{ width:180px; height:20px; margin-left:10px; float:left; line-height:20px; }
.select2{ width:180px; height:22px; margin-right:5px; float:left;  height:24px; line-height:24px;}
.select_2{width:100px; height:22px; margin-left:10px; float:left;  height:24px; line-height:24px;}
.select_4{ width:600px; height:20px; margin-left:20px; float:left;  height:18px; line-height:18px;} 
.select_three{width:174px; float:left;height:16px; margin-left:10px; overflow:hidden;  height:17px; margin-top:3px;line-height:18px; margin-right:10px;}
.select_five{width:174px; float:left;height:16px; margin-left:10px; overflow:hidden;  height:17px; margin-top:3px;line-height:18px;}
.select5{ width:400px;float:left;height:16px; margin-left:10px;overflow:hidden;  height:18px; line-height:18px;}
.select5_0{width:400px;float:left;height:16px; margin-left:10px;overflow:hidden;  height:18px; line-height:18px; margin-top:2px;}
.select3{width:80px; float:left;height:16px; margin-left:2px;overflow:hidden;  height:18px; line-height:18px;}
.select3_a{width:60px; float:left;height:16px; margin-left:2px;overflow:hidden;  height:18px; line-height:18px;}
.select7{ width:80px; height:18px; margin-right:5px; float:left;  height:18px; line-height:18px;}
.select8{width:120px; height:23px; margin-right:5px; float:left; display:block;  height:18px; line-height:18px;}
.select_3{float:left;height:16px;  overflow:hidden; width:100px;  height:18px; line-height:18px;}
.select4{width:80px; margin-left:10px; float:left; vertical-align:middle; height:19px; line-height:19px;}
.select9{width:90px; height:23px; margin-right:5px; float:left; display:block;  height:25px; line-height:25px;}
.select10{width:80px; height:23px; margin-right:5px; float:left; display:block;  height:25px; line-height:25px;}
.select10_a{width:100px; height:23px; margin-right:5px; float:left; display:block;  height:25px; line-height:25px;}
/*分页*/
.c_start_1{ margin-left:10px; line-height:24px; float:right; }
.c_start_1 span{ color:#999;line-height:24px; float:right}
.c_start { margin-left:10px; line-height:18px; float:right; width:460px; margin-bottom:10px;}
.c_start a{ margin:0 2px;  overflow:hidden;border:1px  double #C8DCF0; display:block; font-size:12px; text-align:center; float:left; overflow:hidden; padding: 0 5px; text-decoration:none;}
.c_start a:hover{ background:#838283; display:block; color:#FFF;  font-size:12px; }
.c_start a:active{  background:#838283;   display:block; color:#FFF;  font-size:12px; }
.c_start_input{ float:left; width:40px; overflow:hidden; display:block ; text-align:center; height:14px; } 
.c_start div{ float:left;}
.live_1_table tr td{ overflow:hidden;} 

.color_three{ color:#666; }
.c_kkk{ width:605px; height:190px; overflow:hidden; display:block;}
.new_gg{ width:1000px; height:150px; border:1px solid #ccc; margin:0 auto; display:block;}
.b_1 a{ color:#ed7412;}
.b_1 a:hover{ color:#666;} 
.table_y{ margin:0 atuo; margin-top:20px; border:1px solid #B9D4E9; padding:4px;}
.table_p{ width:80%; margin:0 auto; text-align:right; }
.table_p b{ text-align:right;}
.midden{ vertical-align:middle;} 
.live_1_table table tr td a:hover{ color:#df830b;}
.kdd{ width:92px;line-height:24px;  float:left; height:24px;}
.kdd2{ width:92px;line-height:24px;  float:left; height:24px; margin:4px;}
.foor{ display:block; width:98%; margin:0 auto; margin-bottom:10px; height:30px;}
.foor_00{ float:left;width:100%; margin:0 auto; margin-bottom:10px; height:30px;}
.kdd a{ float:left; display:block; text-decoration:none;}
.kdd1{ width:62px;line-height:24px;  float:left; height:24px;}
/**/
.ice_3{ background:url(../images/del-button.png) no-repeat ; width:59px; border:0;height:24px;  line-height:24px; text-indent:18px; display:block;}
.ice_4{ background:url(../images/button.png) no-repeat ;width:59px; border:0;height:24px;  line-height:24px; text-indent:18px;display:block;}
.ice_40{ background:url(../images/button_00.jpg) no-repeat ;width:107px; border:0;height:24px;  line-height:24px; text-indent:18px;display:block;}
.ice_5{ background:url(../images/button.png) no-repeat 0 -32px;width:59px; border:0;height:24px;  line-height:24px; text-indent:18px;display:block;}
.ice_6{ background:url(../images/theme-button.png) no-repeat -141px -35px;width:59px; border:0;height:24px;  line-height:24px; text-indent:18px;display:block;}
.ice_7{ background:url(../images/theme-button.png) no-repeat 0 -35px;width:59px; border:0;height:24px;  line-height:24px; text-indent:18px;display:block;}
.ice_8{ background:url(../images/button.png) no-repeat 0 -62px;width:59px; border:0;height:24px;  line-height:24px; text-indent:18px;display:block;}
.ice_9{ background:url(../images/theme-button.png) no-repeat 0 -68px;width:59px; border:0;height:24px;  line-height:24px; text-indent:18px; display:block;}
.ice_10{ background:url(../images/theme-button.png) no-repeat -71px -35px;width:59px; border:0;height:24px;  line-height:24px; text-indent:18px; display:block;}
.ice_100{ background:url(../images/button1.gif) no-repeat;width:92px; border:0;height:24px;  line-height:24px; text-indent:2px; display:block;}
.ice_100a{ background:url(../images/button1.gif) no-repeat;width:92px; border:0;height:24px;  line-height:24px;margin:5px 0; text-align:center; color:#666;}
.ice_101{ background:url(../images/theme-button.png) no-repeat 0px -35px;width:59px; border:0;height:24px;  line-height:24px; text-indent:18px; display:block;}
/*新闻中心*/
.contant{ width:98%; margin:0 auto; padding:0;}
.contant_l{ width:100%; margin-bottom:20px;border:#c2d8f2 solid 1px; float:left; }
.contant_r{ width:235px;}
.contant_l h2{ font-size:24px; text-align:center; padding:22px 0 5px 0;}
.contant_l span{ color:#666; font-size:12px; line-height:28px; width:400px; margin:0 auto; display:block; text-align:center;}
.contant_l p{ font-size:12px;color: #111; line-height:26px; text-indent:28px; padding:5px 20px;}
.relate{ width:100%; margin:0 auto;   border-top:3px solid #c2d8f2 ; padding:20px 0; float:left; }
.relate ul{ list-style:none; padding:0; margin:0;}
.relate ul li{ float:left; width:285px;  list-style:24px; padding:6px 12px; border-bottom:1px dashed #e4e4e4; margin:0 15px;}
.relate ul li a{ color:#3c6a9c; text-decoration:none; font-size:14px;}
.relata ul li a:hover{ text-decoration: overline;}
.fsbk{ width:98%;float:left; margin-left:1%; height:29px; padding-bottom:10px;}
.div_img{ float:left; width:1%}
.div_span1 div{ float:left; }
.div_span { background:url(../images/content-bg.gif) repeat-x; height:29px; margin-bottom:10px; line-height:29px; width:100%; margin:0 auto; float:left;} 
.div_span1{ width:97%; float:left;padding-bottom:5px;}
.div_span  span{ width:200px; display:block; float:left; color:#666; text-align:center;}
.div_fl{ float:right;}
.c_start1 { margin-top:5px; margin-left:10px; line-height:18px; width:460px; float:right;}
.c_start1 a{ margin:0 2px;  overflow:hidden;border:1px  double #aaaadd; display:block; font-size:12px; text-align:center; float:left; overflow:hidden; padding: 0 5px; text-decoration:none;}
.c_start1 a:hover{ background:#838283; display:block; color:#FFF;  font-size:12px; }
.c_start1 a:active{  background:#838283;   display:block; color:#FFF;  font-size:12px; }
.c_start_input{ float:left; width:40px; overflow:hidden; display:block ; text-align:center; } 
.c_start1 div{ float:left;}
.c_h{ float:left; width:250px; overflow:hidden; display:block;}
.c_h2{ float:left; width:120px; overflow:hidden; display:block;}

#template{ display:none;}
#template0{ display:none;}
#template1{ display:none;}
#template2{ display:none;}
/*流量统计*/
.td_a a{ width:50px; margin:0 3px;}
.text_1{ width:60%; font-size:12px; margin:8px 0;  height:60px; display:block; margin-left:10px;}
.div_che{ float:left;}
.td_b{ float:left; width:190px; font-size:12px;}
.td_b2 a{ float:left;  color:red;}
.footer_1{ width:205px; margin:10px auto; height:30px;}
.footer_2 {width:100px; margin:10px auto; height:30px;}
.footer_1 input{ float:left; margin:0 10px;}
.c_quan{ width:100%; margin:0 auto; height:30px;}
.main_one{ width:98%; margin-left:1%; color:#666; margin-bottom:20px;}
.main_two{ width:98%; margin-left:1%; color:#666; font-weight:bold; text-align:center; margin-bottom:20px; float:left;}
.main_two select{ float:left; width:100px; height:20px;}
.div_span1{ width:400px; float:left;}
.div_span1 span{ float:left;}
.div_div_1{ width:99%; margin-left:1%; height:30px; line-height:30px; color:#666;}
.ice_two span {  margin-right:20px;}
.ice_two span a { color:red;}
/*后台*/
.input_text{ width:60px; height:18px; margin:3px; }
.input_text2{ width:90px; height:18px; margin:3px;}
.input_text3{width:90px; height:25px; margin:3px;}
.input_text1{ width:60px; height:18px; margin:3px;color:#999; text-align:center;}
.foore{ width:80px; margin:0 auto;}
.left_div{ width:100%; height:20px; display:block; float:left; line-height:20px;}
.textarea{ width:80%; height:44px; font-size:12px; margin:3px 0; line-height:22px;}
.textarea2{ width:50%; height:65px; display:block; font-size:12px; margin:3px 10px; line-height:22px; overflow:hidden;}
.sc{ background:url(../images/button.gif) no-repeat;width:92px; border:0;height:24px;  line-height:22px; text-indent:18px;display:block;}
.sc1{ background:url(../images/button.gif) no-repeat;width:72px; border:0;height:24px;  line-height:22px; text-indent:18px;display:block;}
.sc2{ background:url(../images/button_8.png) no-repeat; width:106px; height:24px;border:0 ;line-height:22px; text-indent:18px;display:block;}
.sc3{ background:url(../images/button_7.png) no-repeat; width:92px; height:24px; border:0;line-height:22px; text-indent:18px;display:block;}
.text_one{ width:175px; height:60px; line-height:15px; float:left;margin:5px 0; display:block; margin-left:10px;}

.L_3{width:70px; margin:0; padding:0;}
.live_1_table_tr2{  font-weight:bold; color:#3566A9; background-color:#e9f1f9; text-align:center;}
.live_1_table_tr3{  color:#3566A9; background-color:#e9f1f9; text-align:center;}
.live_1_table3 { color:#666; margin-bottom:10px; line-height:25px; }
.left_shen{ float:left; width:420px;}
.main_quanshen{ float:left; width:1930px;}
.right_3{float:left;height:34px; line-height:34px; color:#666; border-bottom:1px solid #B9D4E9; margin-bottom:10px; background-color:#e2eefa; width:1550px;}
.right_2{ float:left;}
.L_l{ padding:4px; text-align:left; width:180px; margin: 0 auto; overflow:hidden; line-height:20px;}
.ice_three2{ line-height:30px; float:left; margin-left:15px; margin-bottom:10px;}
.p1{ margin:3px;}
.quan_mian{ width:98%; margin-left:1%;}
.select10_b{ width:30px; height:10px; margin:4px; text-align:center; }
.p_c{ width:200px; text-align:left; margin:4px; margin:0 auto;}
.quan_2{ width:100%;}

.div_em{ width:98%; height:30px; line-height:30px; margin:0 auto; color:#666;}
.div_em span{ width:200px; display:block; float:left;}

/*弹窗*/
#_MLiuPopup{ border:solid 1px #3566A9; background-color:White;}
#popup_title {
    font-size: 12px;
}

#popup_close {
    position:absolute;
    right:5px;top:1px;
    width:28px;height:17px;
    cursor:hand;
    float:right;
}
.live_1_table_tr_yue{
    text-align:right;
    
}